<header class="main-header">
	<a href="#" class="logo">
		<span class="logo-mini"><img src="assets/logo.png" width="100%"></span>
		<span class="logo-lg"><img src="assets/logo.png" width="38%"></span>
	</a>
	<nav class="navbar navbar-static-top">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<div class="navbar-custom-menu" style="float: left">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span>
							<span class="hidden-xs">Welcome, </span>{{user.firstname}} <span class="hidden-xs">{{user.lastname}}</span>
							<a style="color: white"> | Sign Out</a>
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li>
					<a href="#" data-toggle="control-sidebar" class="toggle-sidebar-right">
						<span class="hidden-xs">Settings&nbsp;&nbsp;&nbsp;</span><i class="fa fa-gears"></i>
					</a>
				</li>
				<li>
					<a href="#" data-toggle="control-sidebar" class="toggle-sidebar-right">
						<span class="hidden-xs">Configure View&nbsp;&nbsp;&nbsp;</span><i class="fa fa-th"></i>
					</a>
				</li>
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="hidden-xs">Theme&nbsp;&nbsp;&nbsp;</span><i class="fa fa-paint-brush"></i>
					</a>
					<ul class="dropdown-menu">
						<li class="user-body">
							<a class="clearfix full-opacity-hover skin-preview-link" data-skin="skin-red-light" data-toggle="control-sidebar" (click)="doSkinChange($event)">
								<div>
									<span class="skin-preview-menu skin-preview-red-light"></span>
									<div>
										<span class="skin-preview-background">
   										<span class="skin-preview-panel-header skin-preview-red-light">
 											<span class="skin-preview-panel-content"></span>
										</span>
										<span class="skin-preview-panel-header skin-preview-red-light skin-preview-panel-gap"> 
												<span style="width: 100%;float: left;height: 23px;background: #F2F2F0;margin-top: 7px"></span>
										</span>
										</span>
									</div>
								</div>
							</a>
							<p class="text-center no-margin" style="color: white">Red Light</p>
						</li>
						<li class="user-body">
							<a class="clearfix full-opacity-hover skin-preview-link" data-skin="skin-yellow" data-toggle="control-sidebar" (click)="doSkinChange($event)">
								<div>
									<span class="skin-preview-menu skin-preview-yellow"></span>
									<div>
										<span class="skin-preview-background">
   										<span class="skin-preview-panel-header skin-preview-yellow">
 											<span class="skin-preview-panel-content"></span>
										</span>
										<span class="skin-preview-panel-header skin-preview-yellow skin-preview-panel-gap"> 
												<span style="width: 100%;float: left;height: 23px;background: #F2F2F0;margin-top: 7px"></span>
										</span>
										</span>
									</div>
								</div>
							</a>
							<p class="text-center no-margin" style="color: white">Yellow</p>
						</li>
						<li class="user-body">
							<a class="clearfix full-opacity-hover skin-preview-link" data-skin="skin-blue" data-toggle="control-sidebar" (click)="doSkinChange($event)">
								<div>
									<span class="skin-preview-menu skin-preview-blue"></span>
									<div>
										<span class="skin-preview-background">
   										<span class="skin-preview-panel-header skin-preview-blue">
 											<span class="skin-preview-panel-content"></span>
										</span>
										<span class="skin-preview-panel-header skin-preview-blue skin-preview-panel-gap"> 
												<span style="width: 100%;float: left;height: 23px;background: #F2F2F0;margin-top: 7px"></span>
										</span>
										</span>
									</div>
								</div>
							</a>
							<p class="text-center no-margin" style="color: white">Dark Black</p>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>